<li><a href="/register">register</a></li>
<!DOCTYPE html>
<html>
<head>
    <title>Djavú</title>
</head>
<body>
    <h1>Djavú</h1>
    <form action="/" method="post">

	{% for message in get_flashed_messages() %}
	<font color="red"><div class="flash">{{ message }}</div></font>
  	{% endfor %}

        <label for="username">Usuário:</label>
        <input type="text" id="username" name="username" required><br><br>
        
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required><br><br>
        
        <input type="submit" value="login">
    </form>
</body>
</html>

