<header>
<span>
  <a href="/logout">logout</a>
  <a href="/dashboard">dashboard</a>
  <a href="/users">users</a>
  <a href="/timeline/{{g.user['username']}}">timeline</a>
</span>
<hr>
  <!--<a href="/images">images</a>-->
  <!--<a href="/admin/users">users list</a>-->

<!DOCTYPE html>
<title>{% block title %}{% endblock %} Djavú</title> 
<body style="background-color:lightgreen;">
  <div class="app">
  
    <div class="form-section">

      <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
      </form>
  
    </div>
    
    <br>

    <div class="images-section">
      {% for image in images %}
        <a href="{{ url_for('dashboard.serve_image', filename=image) }}" target="_blank">
          <img src="{{ url_for('dashboard.serve_image', filename=image) }}"width=150 height=150/>
	  <a href="/post/{{image}}">post</a>
        </a>
      {% endfor %}
    </div>
      
  </div>
</body> 
</html>
