<li><a href="/logout">logout</a></li>
<!--<li><a href="/admin/users">users list</a></li>-->
<li><a href="/images">images</a></li>
<li><a href="/users">users</a></li>
<li><a href="/timeline/{{g.user['username']}}">timeline</a></li>

<!DOCTYPE html>
<title>{% block title %}{% endblock %} Djavú</title> 
<body style="background-color:lightgreen;">
  <div class="app">
  
    <div class="form-section">

      <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
      </form>
  
    </div>

    <div class="images-section">
      {% for image in images %}
      <header>
        <a href="{{ url_for('dashboard.serve_image', filename=image) }}" target="_blank">
          <img src="{{ url_for('dashboard.serve_image', filename=image) }}"/>
	  <a href="/post/{{image}}">post</a>
        </a>
      <hr>
      {% endfor %}
    </div>
      
  </div>
</body> 
</html>
