*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
.containerElement{
    padding: 15px;
    .ContainerImg{
        img{
            border-radius: 10px 10px 0 0 ;
            height: 300px;
            width: 320px;
            margin: 0;

        } 
    }

    .queixoImage{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        height: 36px;
        width:320px;
        background-color: #181F33;
        border-radius: 0 0 10px 10px;
        button {
            background-color: transparent;
            :hover {
                filter: drop-shadow(0px 0px 5px rgba(225, 225, 225, 0.774)); 
            }
            // height: 100%;
        }
        img{
            height: px;
            border-radius: 0;
            background-color: transparent;
        }
        // Button{
            
        // } 
    } 
    
}
.ContainerFiltro {
    /* Estilos comuns para o contêiner da imagem */
    display: inline-block;
    position: relative;
}

.none img {
    /* Nenhum filtro aplicado */
    filter: none;
}

.sepia img {
    filter: sepia(80%);
}
.invert img {
    /* Exemplo de filtro invertido */
    filter: invert(100%);
}

.grayscale img {
    /* Exemplo de filtro em escala de cinza */
    filter: grayscale(100%);
}