*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

.cabeçalho{
    // display: flex;
    // flex-direction: row;
    // background: #1E2740;
    // justify-content: space-evenly;
    // width: 100%;
    // min-height: 100px;
    // height: -moz-fit-content;
    // height: fit-content;
    // align-items: center;
    .avatarPerfil{
        height: 10px;
    }
    // .buttons_right{
    //     display: flex;
    //     width: 30%;
    //     align-items: center;
    //     justify-content: space-evenly;
    //     flex-direction: row;
    // }

}

.Descrição{
    width: 100%;
    display: flex;
    height: 102px;
    background-color: #181F33;
    flex-direction: row;
    /* align-content: center; */
    justify-content: flex-start;
    align-items: center;
    .textBox{
        .edit_perfil_name{
            
            margin-left:40px ;
            button{
                font-size: 0.8rem;
                color: #eeeeee9a;
                background-color: transparent;   
            }
            h5{
            font-style: italic;
            color: #eeeeee9a;
            font-size: 0.8rem;
            margin-left: 5px;
        }
        }
        
        p{
            margin-left:40px ;
            // background-color: #fff;
            color: #FFFFFF;
            font-size: 1rem;
        }
    }
    
}

.Arquivos{ 
    background-color: #040917;
    width: 100%;
    min-height: calc(100vh - 185px);
    display: block;
   
    
}
    
