*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Perfil01{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 82px;
    .ConjuntoFotoNome{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        img{
            border: 1px solid white;
            margin-left: 20px;
            border-radius: 50%;
            background-color: #5653EA;
            align-items: center;
            height: 82px;
            width: 82px;
        }

        p{
            text-align: center;
            font-size: 1.2rem;
            color: white;
            padding:0 6px;
            margin-left: 10px ;
            line-height: calc(50% - 1.2rem);
        }
    }

    
}
