*{
    margin : 0 ;
    padding: 0 ;
    box-sizing: border-box;
}

.UploadImage{
    image{
        margin-top: 20px;
        width: 100px;
        height: 100px;
        //background-color: aliceblue;
        //border-radius: 0;
    }
}